
.para{
    color: azure;
    margin-left: 67%;
    position: absolute;
    margin-top: 15%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
}


body{
    background-color: black;
}


.india{
    margin-top: 3.5%;
    margin-left: 5%;
    align-items: center;
}

.para1{
    color: azure;
    margin-left: 70.5%;
    position: absolute;
    margin-top: 25%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
}